:root {
  --primary-green: #00AA00;
  --light-blue: #E5ECF6;
  --grey: #A0A4A8;
}

.App {
  text-align: center;
}
.spinnerHeight{
  height: 100vh;
}
.bgLightBlue{
  background-color: var(--light-blue);
}
.bgGreen{
  background-color: var(--primary-green);
}
.heading{
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.2px;
}
.paragraph{
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.input{
  font-weight:normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.label{
  font-weight:lighter;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.resulTxt{
  font-size: 15px;
}

